<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% @cocktail.doses.each do |dose| %>
  <p> <%= count =+ 1 %> - <strong> <%= dose.ingredient.name  %> (<%= dose.description %>) </strong></p>
<% end %>

<h3>Do you want to add a ingredient?</h3>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit class: "btn btn-ghost" %>
<% end %>

<p> <%= link_to "Delete", cocktail_path(@cocktail[:id]), method: :delete, data: { confirm: "Are you sure?" } %></p>

<%= link_to '< Back to cocktails', cocktails_path%>



